<html ng-app="myPrefferedLanguage">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-controller="language">
Select your programming language
<button ng-click="php()">PHP</button>
<button ng-click="java()">java</button>
<button ng-click="cplus()">C++</button>
<p> Tour language is {{mylang}} </p>

</div>

<script>
var application =angular.module('myPrefferedLanguage',[]);
application.controller('language',function($scope) {
$scope.mylang='None';
$scope.php = function()
{
$scope.mylang ='PHP';
}
$scope.java = function()
{
$scope.mylang ='java';
}

$scope.cplus = function()
{
$scope.mylang ='java';
}


});

</script>
</body>
</html>