@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 22, ../sass/mobilemenu.scss */
.mean-container a {
  text-decoration: none !important;
}

/* line 23, ../sass/mobilemenu.scss */
.meanmenu-reveal {
  display: inline-block;
  vertical-align: top;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  height: 47px;
  padding: 12px 0 8px 15px;
  color: #000 !important;
  text-indent: -99999em;
  line-height: 19px;
  font-weight: 700;
}

/* line 33, ../sass/mobilemenu.scss */
.mobile-text {
  display: block;
  font-size: 14px;
  margin-left: 40px;
  text-align: left;
  overflow: visible;
  text-indent: 0;
  font-family: 'Lato', sans-serif;
  margin-top: 3px;
  text-transform: uppercase;
}

/* line 44, ../sass/mobilemenu.scss */
.foo-mobile-text {
  display: block;
  font-size: 14px;
  margin-left: 45px;
  text-align: left;
  overflow: visible;
  text-indent: 0;
  font-family: 'Lato', sans-serif;
  margin-top: 3px;
  text-transform: uppercase;
  color: #7e695c;
}

/* line 56, ../sass/mobilemenu.scss */
.mean-bar {
  float: left;
  width: 100%;
  position: relative;
  z-index: 99;
  padding: 0;
  min-height: 47px;
  line-height: 24px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 63, ../sass/mobilemenu.scss */
.mean-bar span {
  float: left;
  width: 25px;
  background: #000;
  height: 5px;
  margin-top: 4px;
  clear: both;
}
/* line 69, ../sass/mobilemenu.scss */
.mean-bar span:first-child {
  margin-top: 0;
}
/* line 73, ../sass/mobilemenu.scss */
.mean-bar small {
  clear: both;
  float: left;
  width: 25px;
  font-size: 26px;
  margin: 2px 0px 0px 6px;
}

/* line 80, ../sass/mobilemenu.scss */
.foo-bar {
  float: left;
  width: 100%;
  position: relative;
  z-index: 99;
  padding: 0;
  min-height: 47px;
  line-height: 24px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 87, ../sass/mobilemenu.scss */
.foo-bar span {
  float: left;
  width: 25px;
  background: #7e695c;
  height: 5px;
  margin-top: 4px;
  clear: both;
}
/* line 93, ../sass/mobilemenu.scss */
.foo-bar span:first-child {
  margin-top: 0;
}
/* line 97, ../sass/mobilemenu.scss */
.foo-bar small {
  clear: both;
  float: left;
  width: 25px;
  font-size: 26px;
  margin: 1px 0 0 4px;
  color: #7e695c;
}

/* line 105, ../sass/mobilemenu.scss */
.mean-nav {
  float: left;
  width: 100%;
  background: #fff;
  margin-top: 47px;
}
/* line 109, ../sass/mobilemenu.scss */
.mean-nav .contextual-links-wrapper {
  display: none !important;
}
/* line 110, ../sass/mobilemenu.scss */
.mean-nav > ul {
  padding: 0;
  margin: 0;
  overflow: visible !important;
  visibility: visible !important;
}
/* line 115, ../sass/mobilemenu.scss */
.mean-nav > ul > li:last-of-type {
  display: none;
}
/* line 117, ../sass/mobilemenu.scss */
.mean-nav > ul > li:nth-last-of-type(2) > a:first-of-type {
  border-bottom: 1px solid #150e0a;
}
/* line 118, ../sass/mobilemenu.scss */
.mean-nav > ul > li:nth-last-of-type(2) ul li a {
  border: none;
  border-bottom: 1px solid #150e0a;
  margin-top: 0;
}
/* line 119, ../sass/mobilemenu.scss */
.mean-nav > ul ul {
  padding: 0;
  overflow: visible !important;
  visibility: visible !important;
}
/* line 124, ../sass/mobilemenu.scss */
.mean-nav > ul li {
  position: relative;
  float: left;
  width: 100%;
  list-style: none;
}
/* line 128, ../sass/mobilemenu.scss */
.mean-nav > ul li span {
  float: left;
  width: 100%;
  padding: 10px 50px 10px 5%;
  overflow: hidden;
  text-align: left;
  color: #000 !important;
  border-top: 1px solid #150e0a;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 138, ../sass/mobilemenu.scss */
.mean-nav > ul li a, .mean-nav > ul li span {
  float: left;
  width: 100%;
  padding: 10px 50px 10px 5%;
  overflow: hidden;
  text-align: left;
  color: #000 !important;
  border-top: 1px solid #150e0a;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 147, ../sass/mobilemenu.scss */
.mean-nav > ul li a:hover, .mean-nav > ul li span:hover {
  background: #d37c7c;
  color: #fff !important;
}
/* line 152, ../sass/mobilemenu.scss */
.mean-nav > ul li .mean-expand {
  margin-top: 1px;
  width: 50px;
  height: 45px;
  padding: 0 !important;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  font-weight: 400;
  font-size: 0 !important;
  background: #c9c99a;
  border: none !important;
  border-left: 1px solid #150e0a !important;
  border-bottom: 1px solid #150e0a !important;
}
/* line 165, ../sass/mobilemenu.scss */
.mean-nav > ul li .mean-expand:hover {
  background: #c9c99a;
}
/* line 166, ../sass/mobilemenu.scss */
.mean-nav > ul li .mean-expand:before {
  content: "\f067";
  font-family: 'FontAwesome';
  color: #000;
  font-size: 20px !important;
  line-height: 46px !important;
  display: inline-block;
  vertical-align: top;
  padding-left: 3px;
  font-weight: 400 !important;
  cursor: pointer;
}
/* line 177, ../sass/mobilemenu.scss */
.mean-nav > ul li .mean-expand.mean-clicked {
  background: #d37c7c;
}
/* line 178, ../sass/mobilemenu.scss */
.mean-nav > ul li .mean-expand.mean-clicked:before {
  content: "\f068";
  font-family: 'FontAwesome';
  color: #000;
  font-size: 20px !important;
  line-height: 46px !important;
  display: inline-block;
  vertical-align: top;
  padding-left: 3px;
  font-weight: 400 !important;
  cursor: pointer;
}
/* line 192, ../sass/mobilemenu.scss */
.mean-nav > ul li li > a, .mean-nav > ul li li span {
  width: 100%;
  overflow: hidden;
  padding: 10px 50px 10px 7%;
  border-top: 1px solid #150e0a;
  text-shadow: none !important;
  visibility: visible;
  background: #c9c99a;
  color: #000 !important;
  font-size: 14px;
}
/* line 202, ../sass/mobilemenu.scss */
.mean-nav > ul li li > a:hover, .mean-nav > ul li li span:hover {
  color: #fff !important;
}
/* line 207, ../sass/mobilemenu.scss */
.mean-nav > ul li li li a {
  width: 100%;
  padding: 10px 50px 10px 10%;
  background: #fff;
  border-top: 1px solid #150e0a;
  color: #000 !important;
}
/* line 215, ../sass/mobilemenu.scss */
.mean-nav > ul li li li li a {
  width: 100%;
  padding: 10px 50px 10px 12%;
  border-top: 1px solid #150e0a;
  background: #c9c99a;
  color: #000 !important;
  font-size: 14px;
}
/* line 222, ../sass/mobilemenu.scss */
.mean-nav > ul li li li li a:hover {
  color: #000 !important;
}
/* line 226, ../sass/mobilemenu.scss */
.mean-nav > ul li li li li li a {
  width: 100%;
  padding: 10px 50px 10px 15%;
  border-top: 1px solid #150e0a;
  background: #fff;
  color: #000 !important;
}
/* line 232, ../sass/mobilemenu.scss */
.mean-nav > ul li li li li li a:hover {
  color: #000 !important;
}

/* line 242, ../sass/mobilemenu.scss */
.foo-nav > ul > li:last-of-type {
  display: block;
}
